<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <button class="btn btn-primary">test</button>
    <h1 >我是首頁</h1>
   <p>目前架構<br>
    1. 首頁-`Home Page`(index.html)<br>
    2. 營地列表<br>
    -`檢索頁 (search.html)<br>
    -`營地詳細頁 (camp_detail.html)<br>
    3.知識<br>
    -`知識庫列表頁 (info_list.html)<br>
    -`知識詳細頁 (info.html)<br>
    4.產品列表<br>
    -`登入頁 (login.html)<br>
    -`註冊頁 (register.html)<br>
    -`會員中心頁(member.html)<br></p>
    <a href=" /Yeah-Fun-Cheap/pages/boostrap-demo.html">點我點我 boostrap-demo.html</a> 

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>