<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>野fun趣 - 露營生活提案</title>

</head>

<body>
    <%- include('./layout/header'); -%>
    <main class="container">
    <section class="hero-section">
    <div class="hero-content">
        <img src="/assets/images/LOGO_320x200.png" alt="">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    
                    <div class="d-flex flex-column flex-md-row mb-3 border border-primary-200 p-0 overflow-hidden">
                        
                        <select class="form-select h6 border-0 mb-3 mb-md-0 flex-grow-0" 
                                style="min-width: 150px;" 
                                aria-label="選擇地區">
                            <option selected class="text-neutral-200 h6">請選擇地區</option>
                            <option value="1" class="h6">新北市</option>
                            <option value="2" class="h6">臺北市</option>
                            <option value="3" class="h6">桃園市</option>
                            <option value="4" class="h6">苗栗市</option>
                            <option value="5" class="h6">新竹市</option>
                            <option value="6" class="h6">台中市</option>
                            <option value="7" class="h6">臺南市</option>
                            <option value="8" class="h6">高雄市</option>
                            <option value="9" class="h6">宜蘭縣</option>
                            <option value="10" class="h6">彰化縣</option>
                            <option value="11" class="h6">雲林縣</option>
                            <option value="12" class="h6">嘉義縣</option>
                            <option value="13" class="h6">屏東縣</option>
                            <option value="14" class="h6">花蓮縣</option>
                            <option value="15" class="h6">臺東縣</option>
                        </select>

                        <input type="text" 
                            class="form-control h6 ps-2 border-0 border-md-start mb-3 mb-md-0 flex-grow-1" 
                            placeholder="輸入營地名稱或條件" 
                            aria-label="營地搜尋">
                        
                        <button class="btn btn-pr w-100 w-md-auto" 
                                style="min-width: 100px;" 
                                type="button">搜尋</button>
                </div>

                    <div class="searchListTags d-flex flex-wrap gap-2 justify-content-start mb-4">
                        <span class="w-100 text-center mb-2 d-md-none fw-bold">熱門關鍵字:</span>
                        <span class="d-none d-md-block w-100 fw-bold me-2 mb-md-2">熱門關鍵字:</span>
                    <a href="#" class="btn tag">#可帶寵物</a>
                    <a href="#" class="btn tag">#免搭棚帳</a>
                    <a href="#" class="btn tag">#獨立衛浴</a>
                    <a href="#" class="btn tag">#適合親子</a>
                    <a href="#" class="btn tag">#4.5顆星以上</a>
                    <a href="#" class="btn tag">#機車友善</a>
                    <a href="#" class="btn tag">#車泊友善</a>
                    <a href="#" class="btn tag">#單人友善</a>
                    </div>  
            </div>
        </div>


    </section>

    <section class="features-section py-7 position-relative">
        <div class="container">
            <div class="row text-center mb-5">
                <div class="col-12">
                    <h2 class="h1 fw-bold mb-1">我們的特色</h2>
                    <p class="text-muted fs-5">Our Highlights</p>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            
            <div class="col">
                <div class="card h-100 border-0 shadow-sm">
        
                <div class="position-relative overflow-hidden rounded-top" style="height: 450px;">
                    <img src="/assets/images/index/hightlight-1.png" alt="找到一片風景" class="w-100 h-100 object-fit-cover">

                <div class="image-overlay position-absolute top-0 start-0 w-100 h-100"></div>

                <div class="position-absolute top-0 start-0 p-3 p-md-4">
                    <h3 class="fs-lg text-white p-1 my-0 bg-primary-300 opacity-75">找到一片風景</h3>
                    <h3 class="fs-lg text-white p-1 my-0 bg-primary-300 opacity-75 mt-2">也找到一種生活方式</h3>
                </div>
            
                <img src="/assets/images/index/Img_camp.png" alt="露營圖標" 
                    class="position-absolute" 
                    style="
                    bottom: 20px; 
                    right: 10px; /* 將 right 調整 10px，避免圖標貼邊 */
                    width: 150px; 
                    height: auto;
                    ">
            </div> 
        
                <div class="card-body p-4">
                    <p class="text-neutral-700">貼近自然，享受原始的靜謐體驗</p>
                    <p class="text-muted fs-sm mb-2">我們把隱落各地的露地資訊收進來，讓你在出發前，就與自然對話</p>
                </div>
            </div>
        </div>

            <div class="col">
                <div class="card h-100 border-0 shadow-sm">
                    <div class="position-relative overflow-hidden rounded-top" style="height: 450px;">
                        <img src="/assets/images/index/hightlight-2.png" alt="不追逐熱門" class="w-100 h-100 object-fit-cover">
                        <div class="image-overlay position-absolute top-0 start-0 w-100 h-100"></div>
                        
                        <div class="position-absolute top-0 start-0 p-3 p-md-4">
                            <h3 class="fs-lg text-white p-1 my-0 bg-primary-300 opacity-75">不追逐熱門</h3>
                            <h3 class="fs-lg text-white p-1 my-0 bg-primary-300 opacity-75 mt-2">只選最合你心意的</h3>
                        </div>
                            <img src="/assets/images/index/Img-Water.png" alt="水流圖標" 
                                class="position-absolute" 
                                style="
                                bottom: 20px;   /* 調整圖標距離底部的距離 */
                                right: 0px;    /* 調整圖標距離右側的距離 */
                                width: 150px;    /* 根據需要調整圖標大小，確保 RWD */
                                height: auto;
                                ">
                        </div> 

                        <div class="card-body p-4">
                            <p class="text-muted fs-sm mb-2">用你在乎的條件，找到專屬自己的露營節奏</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 border-0 shadow-sm">
                        <div class="position-relative overflow-hidden rounded-top" style="height: 450px;">
                            <img src="/assets/images/index/hightlight-3.png" alt="不只是住宿" class="w-100 h-100 object-fit-cover">
                            <div class="image-overlay position-absolute top-0 start-0 w-100 h-100"></div>

                            <div class="position-absolute top-0 start-0 p-3 p-md-4">
                                <h3 class="fs-lg text-white p-1 my-0 bg-primary-300 opacity-75">不只是住宿</h3>
                                <h3 class="fs-lg text-white p-1 my-0 bg-primary-300 opacity-75 mt-2">是與自然對話的練習</h3>
                            </div>
                                <img src="/assets/images/index/Img_Mountain.png" alt="山脈圖標" 
                                class="position-absolute" 
                                style="
                                bottom: 20px;   /* 調整圖標距離底部的距離 */
                                right: 0px;    /* 調整圖標距離右側的距離 */
                                width: 150px;    /* 根據需要調整圖標大小，確保 RWD */
                                height: auto;
                                ">
                        </div> 

                        <div class="card-body p-4">
                            <p class="text-muted fs-sm mb-2">把選營地這件事，變得簡單而有趣</p>
                            <p class="text-neutral-700">用直覺篩選、看得到真實評價與照片，從出發前的那一刻，就開始享受露營的快樂旅程</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

            <hr>

            
    <section class="campsites-section new-campsites">
        <div class="row mb-4">
            <div class="col-12">
                <h2 class="h3 fw-bold mb-1">熱門營地</h2>
                <p class="fs-6 text-neutral-500 border-bottom pb-2">Hot Campsites</p> 
            </div>
        </div>
    
    <div class="row g-4 flex-nowrap flex-md-wrap overflow-x-auto pb-3"> 

        <div class="col-12 col-md-6 col-lg-3 flex-shrink-0 card-width-sm" style="width: 300px;"> 
            <div class="card h-100 campsite-card small border-0"> 
    
                    <div class="card-img placeholder-new rounded overflow-hidden mb-3 ratio ratio-1x1">
                    <img src="/assets/images/index/camp01.png" alt="暮光山丘露營地" class="w-100 h-100 object-fit-cover">
                    </div>
    
                <div class="card-body p-0">
                    <h3 class="fs-md fw-bold text-primary-300 mb-2">暮光山丘露營地</h3>
            
                    <p class="fs-sm text-neutral-700 mb-2"> 
                        南投魚池鄉 <span class="material-symbols-outlined ms-1 fs-6" style="transform: translateY(2px);">location_on</span>
                    </p>

                    <p class="fs-sm text-neutral-700 mb-3">眺望日月潭全景、提供懶人帳篷、夜晚可觀星拍銀河</p>
            
                    <div class="d-flex flex-wrap gap-2 mt-auto"> 
                        <a href="#" class="btn tag">單人友善</a>
                        <a href="#" class="btn tag">星空</a>
                        <a href="#" class="btn tag">免裝備</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3 flex-shrink-0 card-width-sm" style="width: 300px;"> 
            <div class="card h-100 campsite-card small border-0"> 
    
                    <div class="card-img placeholder-new rounded overflow-hidden mb-3 ratio ratio-1x1">
                    <img src="/assets/images/index/camp02.png" alt="松風谷野營場" class="w-100 h-100 object-fit-cover">
                    </div>
    
                <div class="card-body p-0">
                    <h3 class="fs-md fw-bold text-primary-300 mb-2">松風谷野營場</h3>

                    <p class="fs-sm text-neutral-700 mb-2"> 
                        花蓮壽豐鄉 <span class="material-symbols-outlined ms-1 fs-6" style="transform: translateY(2px);">location_on</span>
                    </p>

                    <p class="fs-sm text-neutral-700 mb-3">原始林地環繞，可帶毛孩，有簡易步道直達溪谷</p>
            
                    <div class="d-flex flex-wrap gap-2 mt-auto"> 
                        <a href="#" class="btn tag">可帶寵物</a>
                        <a href="#" class="btn tag">新手適合</a>
                        <a href="#" class="btn tag">免裝備</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3 flex-shrink-0 card-width-sm" style="width: 300px;"> 
            <div class="card h-100 campsite-card small border-0"> 
    
                    <div class="card-img placeholder-new rounded overflow-hidden mb-3 ratio ratio-1x1">
                    <img src="/assets/images/index/camp03.png" alt="草原之心 Glamping" class="w-100 h-100 object-fit-cover">
                    </div>
    
                <div class="card-body p-0">
                    <h3 class="fs-md fw-bold text-primary-300 mb-2">草原之心 Glamping</h3>

                    <p class="fs-sm text-neutral-700 mb-2"> 
                        台中東勢區 <span class="material-symbols-outlined ms-1 fs-6" style="transform: translateY(2px);">location_on</span>
                    </p>

                    <p class="fs-sm text-neutral-700 mb-3">獨立衛浴豪華帳，適合親子共遊，草原放風大空閒</p>
            
                    <div class="d-flex flex-wrap gap-2 mt-auto"> 
                        <a href="#" class="btn tag">適合親子</a>
                        <a href="#" class="btn tag">新手適合</a>
                        <a href="#" class="btn tag">獨立衛浴</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3 flex-shrink-0 card-width-sm" style="width: 300px;"> 
            <div class="card h-100 campsite-card small border-0"> 
    
                    <div class="card-img placeholder-new rounded overflow-hidden mb-3 ratio ratio-1x1">
                    <img src="/assets/images/index/camp04.png" alt="水影森森營地" class="w-100 h-100 object-fit-cover">
                    </div>
    
                <div class="card-body p-0">
                    <h3 class="fs-md fw-bold text-primary-300 mb-2">水影森森營地</h3>

                    <p class="fs-sm text-neutral-700 mb-2"> 
                        宜蘭大同鄉 <span class="material-symbols-outlined ms-1 fs-6" style="transform: translateY(2px);">location_on</span>
                    </p>

                    <p class="fs-sm text-neutral-700 mb-3">湖畔景緻、森林浴營位，夏季可戲水划獨木舟</p>
            
                    <div class="d-flex flex-wrap gap-2 mt-auto"> 
                        <a href="#" class="btn tag">日出</a>
                        <a href="#" class="btn tag">森林</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

            <hr>

    <section class="campsites-section new-campsites">
        <div class="row mb-4">
            <div class="col-12">
                <h2 class="h3 fw-bold mb-1">最新營地</h2>
                <p class="fs-6 text-neutral-500 border-bottom pb-2">Newest Campsites</p> 
            </div>
        </div>
    
        <div class="row g-4 flex-nowrap flex-md-wrap overflow-x-auto pb-3"> 

            <div class="col-12 col-md-6 col-lg-3 flex-shrink-0 card-width-sm" style="width: 300px;"> 
                <div class="card h-100 campsite-card small border-0">
                
                    <div class="card-img placeholder-new rounded overflow-hidden mb-3 ratio ratio-1x1">
                        <img src="/assets/images/index/camp05.png" alt="路徑森林帳篷村" class="w-100 h-100 object-fit-cover">
                    </div>
                
                    <h3 class="fs-md fw-bold text-primary-300">路徑森林帳篷村</h3>
                    <div class="fs-sm text-primary-200 mb-2">
                        <span class="f-block material-symbols-outlined me-1" style="transform: translateY(5px);">distance</span>苗栗泰安鄉
                    </div>
                    <p class="fs-sm">偶遇山鹿，提供星空晚餐體驗、冷泉溪畔玩水</p>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 flex-shrink-0 card-width-sm" style="width: 300px;"> 
                <div class="card h-100 campsite-card small border-0">
                
                    <div class="card-img placeholder-new rounded overflow-hidden mb-3 ratio ratio-1x1">
                        <img src="/assets/images/index/camp06.png" alt="靜謐原野。野宿基地" class="w-100 h-100 object-fit-cover">
                    </div>
                
                    <h3 class="fs-md fw-bold text-primary-300">靜謐原野。野宿基地</h3>
                    <div class="fs-sm text-primary-200 mb-2">
                        <span class="f-block material-symbols-outlined me-1" style="transform: translateY(5px);">distance</span>屏東霧台鄉
                    </div>
                    <p class="fs-sm">高山原民風格、無光害觀星，限量營位私密性高</p>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 flex-shrink-0 card-width-sm" style="width: 300px;"> 
                <div class="card h-100 campsite-card small border-0">
                
                    <div class="card-img placeholder-new rounded overflow-hidden mb-3 ratio ratio-1x1">
                        <img src="/assets/images/index/camp07.png" alt="藍岸微風營地" class="w-100 h-100 object-fit-cover">
                    </div>
                
                    <h3 class="fs-md fw-bold text-primary-300">藍岸微風營地</h3>
                    <div class="fs-sm text-primary-200 mb-2">
                        <span class="f-block material-symbols-outlined me-1" style="transform: translateY(5px);">distance</span>澎湖白沙鄉
                    </div>
                    <p class="fs-sm">面海帳篷，步行直達沙灘，附設BBQ料理區</p>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 flex-shrink-0 card-width-sm" style="width: 300px;"> 
                <div class="card h-100 campsite-card small border-0">
                
                    <div class="card-img placeholder-new rounded overflow-hidden mb-3 ratio ratio-1x1">
                        <img src="/assets/images/index/camp08.png" alt="雲上小徑露營地" class="w-100 h-100 object-fit-cover">
                    </div>
                
                    <h3 class="fs-md fw-bold text-primary-300">雲上小徑露營地</h3>
                    <div class="fs-sm text-primary-200 mb-2">
                        <span class="f-block material-symbols-outlined me-1" style="transform: translateY(5px);">distance</span>阿里山石棹
                    </div>
                    <p class="fs-sm">雲海日出美景、森林步道包圍，提供茶席體驗</p>
                </div>
            </div>
    </section>
        <div class="text-center mt-5">
            <a href="/pages/campDetail.html" class="btn btn-pr btn-lg more-btn d-inline-block">
                查看更多 <i class="bi bi-arrow-right"></i>
            </a>
        </div>


            <hr>

    <section class="knowledge-section">
    <div class="container"> <div class="row align-items-center g-4"> 
            
            <div class="col-12 col-md-6">
                <div class="image-placeholder placeholder-knowledge rounded overflow-hidden ratio ratio-4x3">
                    <img src="/assets/images/index/info.png" alt="露營知識" class="w-100 h-100 object-fit-cover">
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="knowledge-content text-center text-md-start">
                    <h2 class="fw-bold">露營知識</h2> 
                    <p class="mb-4 text-center text-md-start">
                        選擇營地、備妥裝備，到了瞭解天氣、動物與急救常識，每個細節都是安心出遊的基礎。
                    </p>
                    
                    <a href="/pages/infoList.html" class="btn btn-pr more-btn d-inline-block">
                        更多露營知識好文 <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
    </section>

    </main>

    <section class="start-section position-relative text-white text-center py-7 py-md-10" 
            style="
            min-height: 400px; 
            background-image: url('../assets/images/background02.png');
            background-size: cover; 
            background-position: center center;
            background-color: rgba(0, 0, 0, 0.4); 
            background-blend-mode: multiply;
        ">

        <div class="d-flex flex-column align-items-center justify-content-center h-100">
        
            <h2 class="h1 fw-bold mb-1">關於我們</h2> 
            <p class="fs-5 text-white">About Us</p>
            <div class="text-center mb-5">
                <p class="fs-6 d-inline-block text-white">
                    介紹理念、願景，提供使用者未來預想
                </p>
            </div>

            <a href="/pages/about.html" class="btn btn-lg btn-pr start-btn">
                查看更多 <i class="bi bi-arrow-right"></i>
            </a>
        
        </div>
    </section>
        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
            <script src="script.js"></script>
</body>

</html>