<!DOCTYPE html>
<html lang="zh-TW">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="container">
            <h1 class="p-1 mb-5">測試</h1>
            <p class="text-primary">內文段落測試</p>
            <div class="search-box"></div>
        </div>

        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>